<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlintestdemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/newtwork_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".mvp.view.activity.ViewPager2Activity"
            android:exported="false" />
        <activity android:name=".mvp.view.activity.PwdLoginActivity" />
        <activity android:name=".mvp.view.activity.ResoursActivity" />
        <activity
            android:name=".mvp.view.activity.SplashActivity"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_file_paths" />
        </provider>

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity android:name=".mvp.view.activity.Main2Activity" />
        <activity android:name=".mvp.view.activity.HandlerActivity" />
        <activity android:name=".mvp.view.activity.DeleteActivity" />
        <activity android:name=".mvp.view.activity.XBannerActivity" />
        <activity android:name=".mvp.view.fragments.BaseAdapterHelperDemo" />
        <activity android:name=".mvp.view.activity.RecyclerActivity" />
        <activity android:name=".mvp.view.activity.Swipe2Activity" />
        <activity android:name=".mvp.view.activity.SwipeActivity" />
        <activity
            android:name=".view.ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".view.MainActivity" />
    </application>

</manifest>